.promotion-wrapper{
    padding-bottom: 50px;
}
.promotion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;

    h1 {
        font-family: Gill Sans;
        font-size: 38px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: -0.02em;
        text-align: left;

    }

    button {
        font-size: 12px;
        padding: 8px 35px 8px 8px;
        background-color: #1A61FF;
        color: white;
        border: none;
        position: relative;

        svg {
            position: absolute;
            width: 15px;
            top: 3px;
            left: 112px;
        }
    }

    button:hover {
        background-color: #0618bb;
    }
    
}

.card-carousel-content {
    .slick-track{
        left: 17%;
    }
    width: 100%;
    .card-content {
        padding-left: 24px;
    }

    .card-grid-wrapper {

        width:65%;
        border: 1px solid #E0E0E0;

        img {
            width: 100%;
            height: 100%;
            transition: 1.1s;
        }
        img:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
        .no-big-image{
            overflow: hidden;
        }

        p {
            color: #1554FF;
            font-size: 14px;
        }

        h4 {
            font-family: Gill Sans;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.01em;
            text-align: left;
            width: 90%;
            margin-top: 0;
        }
    }
    .slick-next:before{
        content: none;
    }
    .card-carousel-content.slick-next {
        display: none;
    }

}
@media only screen and (min-width: 639px) {
    .promotion-header {
        h1{
            font-size: 50px;
        }
        button{
            font-size: 13px;
            padding: 10px 40px 10px 10px;
            svg{
                width: 20px;
                position: absolute;
                left: 120px;
                top: 5px;
            }
        }
    }
    .card-carousel-content{
        padding-left: 32px;
        padding-right: 32px;
        .slick-track{
            left: 2%;
        }
        .card-grid-wrapper {
            width:75%;
            margin-left: 0px;;
        }
    }
  }
  @media only screen and (min-width: 1024px) {
    .promotion-wrapper{
        padding-top: 30px;
        padding-bottom: 100px;
    }
    .card-carousel-content{
        padding-left: 32px;
        padding-right: 32px;
        .card-grid-wrapper {
            width:90%;
            margin-left: 0px;;
        }
    }
    
    .card-carousel-content .card-grid-wrapper{
        h4{
            font-size: 30px;
            line-height: 30px;
        }
        p{
            font-size: 17px;
        }
    }
  }