.vehicles-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 96px;
}

.vehicles-wrapper {
    width: 100%;
    padding-top: 10px;
}

.description-label {
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 29px;

    p {
        font-size: 13px;
        color: #BDBDBD;
        font-family: Roboto;
    }
}
.teaser-content {
    background-color: rgba(151, 150, 150, 0.062);
    height: 0;
    opacity: 0;
    visibility: hidden;
    justify-content: space-between;
    padding-left: 32px;
    transition: height .3s,opacity .8s;
    
}
.teaser-content.open{
    display: flex;
    height: 250px;
    visibility: visible;
    opacity: 1;
    transition: height .3s,opacity .8s;
}
.teaser-description-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.teaser-title {
    h3 {
        font-size: 2rem;
        margin-bottom: 5px;
        font-weight: 300;
    }
}
.card-module-image {
    width: 50%;

    img {
        height: 100%;
        width: 100%;
    }
}

.active-promotions {
    margin-bottom: 15px;
    color: #1554ff;
}

.tags {
    margin-bottom: 30px;
    height: 30px;
    a{
        padding: 4px 8px 4px 4px;
        margin-right: 3px;
        font-size: 12px;
        color: grey;
        background-color:white ;
        line-height: 40px;
    }
}

.teaser-buttons {
    button{
        padding: 4px 8px 4px 8px;
        line-height: 15px;
        margin-top: 10px;
        margin-right: 15px;
        background-color: black;
        color: white;
        border: none;
    }
    .manifesto-butt{
        background-color: #0048e6;
    }
    .manifesto-butt:hover{
        background-color: #0400e6;
    }
    span{
        color: #1554FF;
        font-size: 14px;
    }
    .read-butt:hover{
        background-color: #424242;
    }
}

.vehicles-properties {
    display: flex;
    justify-content: space-between;

    .vehicles-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 99%;
        border-bottom: 2px solid white;

        span.star-svg {
            height: 50px;
            position: absolute;
            left: 90%;
            top: 10px;
        }
    }

    // .vehicles-content {
    //     border-bottom: 2px solid #1554FF;

    //     path {
    //         stroke: #1554FF;
    //     }
    // }

    p {
        font-family: 'Gill Sans';
        font-size: 20px;
        color: #424242;
    }

    img {
        width: 100%;
        height: 120px;
    }
}

@media only screen and (max-width: 639px) {
    .vehicles-container {
        padding-bottom: 45px;
    }

    .vehicles-properties {
        // height: 130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        padding-bottom: 10px;

        .vehicles-content {
            border-bottom: 1px solid white;
            width: 45% !important;

            span.star-svg {
                height: 26px;
                left: 80%;
                top: 10px;

            }
        }

        .vehicles-content:hover {
            border-bottom: 1px solid #1554FF;

            path {
                stroke: #1554FF;
            }
        }

        p {
            font-family: 'Gill Sans';
            font-size: 15px;
            color: #424242;
        }

        img {

            width: 100%;
            ;
            height: 100px;

        }
    }
}

@media only screen and (min-width: 640px) {
    .vehicles-properties {
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-wrap: wrap;

        img {
            width: 100%;
            height: 110px;
        }
    }

    .vehicles-content {
        width: 275px;

        p {
            font-size: 17px;
        }

        svg {
            width: 15px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .vehicles-content {
        width: 25%;

        p {
            font-size: 16px;
        }

        svg {
            width: 27px;
        }
    }

    .vehicles-properties {
        flex-wrap: nowrap;

        img {
            width: 100%;
            height: 125px;
        }
    }
    
    .card-module-image {
        width: 50%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .tags {
        margin-bottom: 30px;
        height: 30px;
        a{
            padding: 8px 20px 8px 20px;
            margin-right: 12px;
            font-size: 15px;
            color: grey;
            background-color:white ;
            line-height: 40px;
        }
    }

    .teaser-buttons {
        button{
            padding: 6px 15px 6px 15px;
            line-height: 22px;
            
        }
    }
}