.services-wrapper {
    background-color: #1554FF;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .slick-next:before {
        content: none;
    }


    .slick-track {
        position: relative;
        top: 0px;
        left: 17%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
  
    .slick-prev:before{
        display: none;
    }
    .slick-prev::before{
        content: none;
    }


}
.services-wrapper.slick-arrow{
    display: none;
}
.slide-content:hover{
    cursor: pointer;
    img{
        transform: scale(1.1);
    }
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px 2px 32px;

    h1 {
        font-size: 38px;
        color: white;
    }

    button {
        font-size: 10px;
        background-color: black;
        color: white;
        padding: 5px 5px 5px 5px;

        .svg {
            width: 10px;
        }
    }
}

.services-promotion {
    position: relative;
    left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;
    width: calc(100% - 64px);

    h1 {
        height: 38px;
        font-family: Gill Sans;
        letter-spacing: -0.02em;
        text-align: left;
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 146px;
        color: white;
    }

    button {
        height: 52px;
        width: 270px;
        border-radius: 0px;
        padding: 14px 20px 14px 20px;
        border: none;
        background-color: black;
        color: white;
        display: flex;
        font-size: 10px;
        align-items: center;
        justify-content: space-evenly;

        svg {
            width: 15px;
        }
    }

    button:hover {
        background-color: rgba(0, 0, 0, 0.801);
    }

}


.service-slider-wrapper {
    padding-bottom: 85px;

    .slide-content {
        overflow: hidden;
        position: relative;
        height: 350px;
        display: flex;
        width: 65%;
        align-items: flex-end;
        justify-content: space-between;
        background-position: center;

        .slide-description {
            padding-left: 20px;
        }



    }

    .image-slide {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        img {
            transition: all 1.1s;
            height: 100%;
            width: 100%;
        }
    }

    p {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #1554FF;
        width: 70%;

        path {
            fill: none;
            stroke: #1554FF;
        }

        svg {
            position: relative;
            position: relative;
            left: 5px;
            top: 8px;
        }

    }

    h4 {

        font-family: Gill Sans;
        font-size: 15px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: -0.01em;
        text-align: left;

        width: 70%;
    }

}



@media only screen and (min-width: 640px) {
    .services-header {
        h1 {
            font-size: 50px;
        }

        button {
            font-size: 15px;
            padding: 10px 10px 10px 10px;
        }
    }

    .service-slider-wrapper .slide-content {
        width: 80%;
        height: 420px;
    }

    .services-wrapper {
        .slick-track {
            left: 5%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .services-header {
        h1 {
            font-size: 75px;
        }

        button {
            font-size: 18px;
            padding: 10px 15px 10px 15px;
        }
    }

    .services-wrapper {
        .slick-track {
            left: 14.7%;
        }
    }

    .service-slider-wrapper .slide-content {
        width: 90%;
        height: 420px;
    }

    .service-slider-wrapper {
        padding-bottom: 100px;
    }

    .slide-description {
        p {
            font-size: 18px;
        }

        h4 {
            font-size: 22px;
            width: 90%;
        }
    }
}